@import "tailwindcss";
@import "tw-animate-css";
@import "katex/dist/katex.min.css"; /* for Markdown math support. required. */

@source "../node_modules/streamdown/dist/*.js";

@custom-variant dark (&:is(.dark *));

/*noinspection CssUnresolvedCustomProperty*/
@theme inline {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "PingFang SC", "Helvetica Neue",
    "Microsoft YaHei", sans-serif;
  --font-mono:
    "JetBrains Mono", ui-monospace, "SF Mono", Monaco, Menlo, Consolas, "PingFang SC", monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(63.3% 0.252 28.6);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(53.6% 0.218 29);
  --chart-2: oklch(65.5% 0.134 88.7);
  --chart-3: oklch(58.6% 0.1 194.8);
  --chart-4: oklch(51.3% 0.164 143.8);
  --chart-5: oklch(46.2% 0.24 263.7);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(71.5% 0.18 16.8);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(71.0% 0.155 15.5);
  --chart-2: oklch(84.7% 0.117 98.7);
  --chart-3: oklch(77.0% 0.116 184.5);
  --chart-4: oklch(76.2% 0.171 142.1);
  --chart-5: oklch(67.3% 0.165 259.6);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.922 0 0);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.922 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased overflow-hidden;
    /*noinspection CssNoGenericFontName*/
    font-family: var(--font-sans);
  }
  p[data-github-alert] {
    @apply not-italic font-medium;
    span[data-streamdown="strong"] {
      @apply font-black!;
    }
  }
  blockquote[data-github-alert="note"] {
    @apply border-chart-5!;

    & > p[data-github-alert] {
      @apply text-chart-5;
    }
  }
  blockquote[data-github-alert="tip"] {
    @apply border-chart-4!;

    & > p[data-github-alert] {
      @apply text-chart-4;
    }
  }
  blockquote[data-github-alert="important"] {
    @apply border-chart-3!;

    & > p[data-github-alert] {
      @apply text-chart-3;
    }
  }
  blockquote[data-github-alert="warning"] {
    @apply border-chart-2!;

    & > p[data-github-alert] {
      @apply text-chart-2;
    }
  }
  blockquote[data-github-alert="caution"] {
    @apply border-chart-1!;

    & > p[data-github-alert] {
      @apply text-chart-1;
    }
  }
}
